
<h1 id="Title"><img id="logo" src="~/Content/UPS-Logo.png"><span style="color:gold;"> UP</span><span style="color:white;">ark</span><span style="color:gold;">S</span><span style="color: white;">mart</span></h1>