@{
    ViewBag.Title = "Home Page";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Floor1">Floor #1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Floor2">Floor #2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Floor3">Floor #3</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Floor4">Floor #4</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Floor5">Floor #5</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active" id="home">
        <p>Test Home Page</p>
    </div>
    <div class="tab-pane fade show active" id="Floor1">
        <p>Test Floor1</p>
    </div>
    <div class="tab-pane fade show active" id="Floor2">
        <p>Test Floor2</p>
    </div>
    <div class="tab-pane fade show active" id="Floor3">
        <p>Test Floor3</p>
    </div>
    <div class="tab-pane fade show active" id="Floor4">
        <p>Test Floor4</p>
    </div>
    <div class="tab-pane fade show active" id="Floor5">
        <p>Test FLoor5</p>
    </div>
</div>